.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.main div {
  display: flex;
  flex-direction: column;
  margin: 0 0 1vh 0;
  min-width: 290px;
}

.main div:last-of-type {
  margin: 0;
}

.main div span {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main div span b {
  font-weight: 700;
  margin: 0 0 0 1vw;
}

.search-section label {
  margin: 0 0 0.3vw 0;
  font-weight: 700;
}

.search-section input {
  font-size: 14px;
  line-height: 1;
}

.search-section input::placeholder {
  opacity: 1;
  font-style: italic;
}

.search-section input:focus::placeholder,
.search-section input:active::placeholder {
  opacity: 0;
  transition: 0.2s ease;
}
